fastapi==0.111.0
uvicorn==0.30.1
gunicorn==21.2.0

pandas==2.2.2
numpy==1.26.4

python-dotenv==1.0.1
pydantic==2.7.4
python-multipart==0.0.9
setuptools

langchain-google-genai==1.0.5
langgraph==0.2.34
google-generativeai==0.7.2